<div id="app">
    <router-view/>
</div>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=8a2556c2569f6937d8481e0131ec4c88"></script> 
<%= javascript_pack_tag 'cmc/dashboard' %>
<%= stylesheet_pack_tag 'cmc/dashboard' %>