<!DOCTYPE html>
<html>
  <head>
    <title>HebauLeave</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.staticfile.org/vue/2.5.21/vue.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
