<!DOCTYPE html>
<html>
  <head>
    <title>河北农业大学干部考核系统</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <script src="https://cdn.staticfile.org/vue/2.5.21/vue.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
